html,body, .container-fluid{
	height: 100%;
	width: 100%;
	padding: 0px !important;
	font-family: 'Comfortaa', cursive;
}

.container-fluid{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

body{
	background-color: black;
}

#blur{
	/*-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);*/
	height: 100%;
	width: 100%;
	position: absolute;
}

#codeRoomField{
	height: 70%;
	width: 85%;
	margin: auto;
	transform: translateY(15%);
	background-color: rgba(0,0,0,0.5);
	border: 3px solid blue;
	box-shadow: 5px 5px 5px 5px rgba(117,117,117, 0.6);
}

form{
	margin: auto;
}

#welcomeMessage{
	margin: auto;
	color: white;
	text-align: center;
	margin-top: 10%;
}

#field{
	height: 50%;
	width: 100%;
	transform: translateY(32%);
}

#roomEnterButton{
	margin-top: 50px;
}

#buttons{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.textInput{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

button{
	border: 2px solid blue;
	border-radius: 10px;
	background: rgba(138,138,138, 0.5);
	transition-duration: 0.3s;
	height: 45px;
}

button:hover{
	background: blue;
	border: 2px solid white;
	color: white;
}

button:hover span{
	padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button span{
	display: inline-block;
	position: relative;
}

button span:after{
	color: white;
	content:'\003e';
	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.3s;
}

#gameBoard{
	height:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}