html,body, .container-fluid{
	height: 100%;
	width: 100%;
	padding: 0px !important;
	font-family: 'Comfortaa', cursive;
}

.container-fluid{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

body{
	background-color: black;
}

#blur{
	height: 100%;
	width: 100%;
	position: absolute;
}

#codeRoomField{
	height: 70%;
	width: 85%;
	margin: auto;
	transform: translateY(15%);
	background-color: rgba(0,0,0,0.5);
	border-radius: 3px;
	border: 3px solid #ff4757;
	background: rgba(0,0,0,0.3);
}

form{
	margin: auto;
}

#welcomeMessage{
	margin: auto;
	color: white;
	text-align: center;
	margin-top: 10%;
	font-size: 30px;
}

#field{
	height: 50%;
	width: 100%;
	transform: translateY(20%);
}

#roomEnterButton{
	margin-top: 50px;
}

#buttons{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.textInput{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

button{
	border: 2px solid blue;
	border-radius: 10px;
	background: rgb(0,0, 0, 0);
	transition-duration: 0.3s;
	height: 45px;
	color: white;
}

button:hover{
	background: blue;
	border: 2px solid white;
}

button:hover span{
	padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button span{
	display: inline-block;
	position: relative;
}

button span:after{
	color: white;
	content:'\003e';
	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.3s;
}

#credits{
	color: white;
	text-align: center;
	font-size: 8px;
}

#credits a{
	color: white;
}

#credits a:hover{
	color:white;
	text-decoration: none;
}

#credits a:pressed{
	color: white;
	text-decoration: white;
}

#currRoomID{
	text-align: center;
	color: white;
}

#gamePieces{
	display: none;
}

#gameBoard{
	height:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#yeahNo{
	text-align: center;
	color: white;
	visibility: hidden;
	height: 0px;
	width: 0px;
	display: none;
}

#yeahNo img{
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 600px){
	#yeahNo{
		visibility: visible;
		height: 100%;
		width: 100%;
		display: block;
	}

	form{
		visibility: hidden;
	}

	button{
		visibility: hidden;
	}
}